.i-wrapper {
  display: flex;
  position: relative;
  top: 9rem;
  height: 77vh;
  justify-content: center;
  gap: 4rem;
}

.socials {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 1.5rem;
  position: relative;
  width: 2.5rem;
  height: 9rem;
  padding: 1.8rem 1rem;
  gap: 1rem;
  background-color: white;
  margin-left: -2rem;
}

.socials > a {
  background-color: white;
}

.socials > a > img {
  width: 2.3rem;
  height: 2.3rem;
  background-color: white;
}

.i-name {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.i-name > :nth-child(1) {
  font-weight: bold;
  font-size: 2.5rem;
}

.i-name > :nth-child(2) {
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: bold;
  font-size: 1.8rem;
}

.i-name > :nth-child(4) {
  position: relative;
  top: 2rem;
  font-size: 1rem;
}

.contactMeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 15rem;
  height: 3.2rem;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 6rem;
  background-color: var(--violet);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  background-color: var(--violet);
}

.contactMeBox:hover {
  background-color: var(--white);
  color: var(--violet);
}

.contactMeBox > :nth-child(1):hover {
  background-color: var(--white);
  color: var(--violet);
}

.i-right > img {
  position: relative;
  width: 20rem;
  height: 20rem;

  border: 4px solid black;
  border-radius: 50%;
  animation: profile_border 8s ease-in-out infinite 1s;
}

@keyframes profile_border {
  0% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}

@media screen and (max-width: 450px) {
  .i-wrapper {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 80vh;
    top: 0rem;
  }
  .socials {
    transform: scale(0.75);
    top: 1rem;
    left: 3rem;
  }
  .i-name {
    transform: scale(0.8);
    width: 100%;
    bottom:2.5rem;
  }

  .i-name > :nth-child(1) {
    font-weight: bold;
    font-size: 2rem;
  }

  .i-name > :nth-child(2) {
    font-weight: bold;
    font-size: 2.6rem;
  }

  .i-right {
    transform: scale(0.6);
    position: absolute;
    top: -3rem;
    right: -3rem;
  }
  .i-right > img {
    border: 5px solid black;
  }
  .contactMeBox {
    margin-top: 4rem;
    font-size: 2rem;
  }
}
