.super-slider {
  position: relative;
  top: 3rem;
  width: 100%;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.p2-slide {
  width: 19rem;
  height: 11rem;
  position: relative;
}

.p2-slide img {
  width: 19rem;
  height: 11rem;
  border-radius: 19px;
  position: relative;
}

.p2-slide:hover .hover-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-slide {
  position: absolute;
  width: 19rem;
  height: 11rem;
  border-radius: 19px;
  background-color: black;
  filter: opacity(0.8);
  top: 0;
  left: 0;
  display: none;
}

.p2-slide:hover .hover-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-slide-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: black;
  filter: opacity(1);
  font-weight: bold;
  color: var(--white);
}
.hover-slide-heading > * {
  background: black;
}

.hover-slide-heading > :nth-child(1) {
  font-size: 1.5rem;
}

.hover-slide-image {
  position: relative;
  top: 1.5rem;
  display: flex;
  justify-content: space-between;
 
}

.hover-slide-image > a {
  background-color: black; 
  filter: opacity(1);
} 

.hover-slide-image img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: 2px solid white;
  background-color: var(--white);
}