.toggle{
    display: flex;
    border: 3px solid var(--white);
    border-radius: 1rem;
    justify-content: space-between;
    position: relative;
    padding: 3px;
    height: 1.5rem;
    cursor:pointer;
}

.toggle>*{
    width: 1.5rem;
    height:1.5rem;
    border-radius: 100%;
}

.t-button{
    background:var(--violet);
    border-radius: 100%;
    position:absolute;
}