.toggle {
  width: 3rem;
  height: 3rem;
  background-color: var(--violet);
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 7;
}

.toggle > * {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 500px) {
  .toggle {
    transform: scale(0.9);
  }
  .toggle {
    bottom: 19rem;
    right: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .toggle {
    transform: scale(0.9);
  }
  .toggle {
    bottom: 5rem;
    right: 1rem;
  }
}
