:root {
  --violet: #5703c1;
  --grey: #d9d9d9;
  --white: #ffffff;
  --black: #1a1a1a;
  --blue: #2778c2;
  --green:  #009900;
  --sky:#00e6e6;
}
@font-face{
  font-family: 'Montserrat';
  src: url(../src/Fonts/Montserrat.ttf);
}
*{
  font-family: 'Montserrat';
}
body{
  margin: 0px;
}

.App {
  padding: 1.5rem;
  background-color: var(--grey);
  position: relative;
}

@media screen and (max-width:500px){
  .App{
    padding: 0.7rem 1rem;
  }
}

@media screen and (max-width:375px){
  .App{
    padding: 0.5rem 1rem;
  }
}